src/main/configurations/Openforms2bpel/Bpel/Basic/Basic.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:bpws="http://schemas.xmlsoap.org/ws/2003/03/business-process/" xmlns:caseparameters="http://www.emaxx.org/bpel/proces/xsd/caseparameters" xmlns:cases="http://www.emaxx.org/functional/cases" xmlns:com="http://www.emaxx.org/msg/common" xmlns:basic="http://www.emaxx.org/bpel/proces/xsd/eMAXX/Basic" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:bsu="http://www.emaxx.org/bpel/proces/wsdl/eMAXX/BasicStatusUpdate" xmlns:ogone="http://www.emaxx.org/adapters/ogone" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sub="http://www.emaxx.org/functional/cases/subscription" xmlns:brpcontext="http://www.emaxx.org/functional/cases/brpcontext" xmlns:document="http://www.emaxx.org/functional/cases/document" xmlns:egov="http://www.emaxx.org/egov/common" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:client="http://www.emaxx.org/bpel/proces/wsdl/eMAXX/Basic" xmlns:gegmag="http://www.emaxx.org/functional/gegmag" xmlns:secman="http://www.emaxx.org/core/securityManager" xmlns:faultproperties="http://www.emaxx.org/bpel/proces/xsd/faultproperties" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:email="http://www.emaxx.org/msg/email" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:headerproperties="http://www.emaxx.org/bpel/proces/xsd/headerproperties" xmlns:payments="http://www.emaxx.org/functional/cases/payments" xmlns:processparameters="http://www.emaxx.org/bpel/proces/xsd/processparameters" xmlns:emailparameters="http://www.emaxx.org/bpel/proces/xsd/emailparameters" name="Basic" targetNamespace="http://www.emaxx.org/bpel/proces/wsdl/eMAXX/Basic">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.emaxx.org/bpel/proces/xsd/eMAXX/Basic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.emaxx.org/bpel/proces/xsd/headerproperties"/>
			<xs:import namespace="http://www.emaxx.org/bpel/proces/xsd/faultproperties"/>
			<xs:import namespace="http://www.emaxx.org/bpel/proces/xsd/caseparameters"/>
			<xs:import namespace="http://www.emaxx.org/bpel/proces/xsd/processparameters"/>
			<xs:import namespace="http://www.emaxx.org/bpel/proces/xsd/emailparameters"/>
			<xs:import namespace="http://www.emaxx.org/egov/common"/>
			<xs:element name="initiateRequestMessage">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="headerproperties:requestProperties"/>
						<xs:element name="body">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="applicant" type="basic:tApplicant"/>
									<xs:element name="process" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="initiateResponseMessage">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="headerproperties:responseProperties"/>
						<xs:element name="body">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="confirmationMessage" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="registerRequestMessage">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="headerproperties:requestProperties"/>
						<xs:element name="body">
							<xs:complexType>
								<xs:sequence>
									<xs:choice>
										<xs:element name="initiatingSubject" type="basic:tSubjectExt" minOccurs="0"/>
										<xs:element name="initiatingActor" type="basic:tActor" minOccurs="0"/>
									</xs:choice>
									<xs:element name="parties" type="basic:tParties" minOccurs="0"/>
									<xs:element name="xml" type="basic:tXML"/>
									<xs:element ref="emailparameters:emailParameters"/>
									<xs:element ref="processparameters:processParameters"/>
									<xs:element ref="caseparameters:caseParameters"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="registerResponseMessage">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="headerproperties:responseProperties"/>
						<xs:element name="body">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="referenceNumber" type="xs:string"/>
									<xs:element minOccurs="0" name="redirectUrl" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="error">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="headerproperties:responseProperties"/>
						<xs:element name="body">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="faultproperties:faultDetails"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="tParties">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="party" type="basic:tParty"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tParty">
				<xs:sequence>
					<xs:element name="roleCode" type="xs:string"/>
					<xs:element name="subject" type="basic:tSubjectParty"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tPersonExtWithBsn">
				<xs:sequence>
					<xs:element name="bsn" type="xs:string"/>
					<xs:element name="genderIndication" nillable="true" type="egov:tGender"/>
					<xs:element name="initials" type="basic:tString20"/>
					<xs:element name="firstNames" type="basic:tFirstNames"/>
					<xs:element name="lastNamePrefix" type="basic:tLastNamePrefix"/>
					<xs:element name="lastName" type="basic:tLastName"/>
					<xs:element name="nameOfAddress" type="basic:tString200"/>
					<xs:element name="dateOfBirth" nillable="true" type="egov:tPartialDate"/>
					<xs:element name="emailAddress" type="basic:tEmail"/>
					<xs:element name="telephoneNumber" type="basic:tTelephoneNumber"/>
					<xs:element name="faxNumber" type="basic:tTelephoneNumber"/>
					<xs:element name="iban" type="basic:tIBAN"/>
					<xs:element name="bic" type="basic:tBIC"/>
					<xs:element minOccurs="0" name="residenceAddress" type="basic:tResidenceAddress"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tPersonExt">
				<xs:sequence>
					<xs:element name="genderIndication" nillable="true" type="egov:tGender"/>
					<xs:element name="initials" type="basic:tString20"/>
					<xs:element name="firstNames" type="basic:tFirstNames"/>
					<xs:element name="lastNamePrefix" type="basic:tLastNamePrefix"/>
					<xs:element name="lastName" type="basic:tLastName"/>
					<xs:element name="nameOfAddress" type="basic:tString200"/>
					<xs:element name="dateOfBirth" nillable="true" type="egov:tPartialDate"/>
					<xs:element name="emailAddress" type="basic:tEmail"/>
					<xs:element name="telephoneNumber" type="basic:tTelephoneNumber"/>
					<xs:element name="faxNumber" type="basic:tTelephoneNumber"/>
					<xs:element name="iban" type="basic:tIBAN"/>
					<xs:element name="bic" type="basic:tBIC"/>
					<xs:element minOccurs="0" name="residenceAddress" type="basic:tResidenceAddress"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tActor">
				<xs:sequence>
					<xs:element name="employee">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="username" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tApplicant">
				<xs:sequence>
					<xs:choice>
						<xs:element name="person">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="bsn" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="organization">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="commercialRegistryNumber" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="employee">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="username" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tSubjectExt">
				<xs:sequence>
					<xs:choice>
						<xs:element name="person">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="bsn" type="basic:tBsn"/>
									<xs:element minOccurs="0" name="nonAuthentic" type="basic:tPersonExt"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="organization">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="commercialRegistryNumber" type="basic:tCommercialRegistryNumber"/>
									<xs:element minOccurs="0" name="nonAuthentic" type="basic:tOrganizationExt"/>
									<xs:element minOccurs="0" name="contactPerson" type="basic:tPersonExtWithBsn"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tSubjectParty">
				<xs:sequence>
					<xs:element name="person">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="bsn" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tOrganizationExt">
				<xs:sequence>
					<xs:element name="statutoryName" type="basic:tStatutoryName"/>
					<xs:element name="foundingDate" nillable="true" type="xs:date"/>
					<xs:element name="emailAddress" type="basic:tEmail"/>
					<xs:element name="telephoneNumber" type="basic:tTelephoneNumber"/>
					<xs:element name="faxNumber" type="basic:tTelephoneNumber"/>
					<xs:element name="iban" type="basic:tIBAN"/>
					<xs:element name="bic" type="basic:tBIC"/>
					<xs:element minOccurs="0" name="locationAddress" type="basic:tResidenceAddress"/>
					<xs:element minOccurs="0" name="correspondenceAddress" type="basic:tCorrespondenceAddress"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tXML">
				<xs:sequence>
					<xs:any minOccurs="0" processContents="skip"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="processVariables">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="emailAddress" type="xs:string"/>
						<xs:element name="gender" nillable="true" type="egov:tGender"/>
						<xs:element name="name" type="egov:tName"/>
						<xs:element minOccurs="0" name="documents" type="xs:boolean"/>
						<xs:element minOccurs="0" name="sendFormByMail" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="processData">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="basic:processVariables"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="XSLTMessage">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="body">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="sendDate" type="xs:string"/>
									<xs:element name="sendTime" type="xs:string"/>
									<xs:element name="caseNumber" type="xs:string"/>
									<xs:element name="xml" type="xs:string"/>
									<xs:element minOccurs="0" name="sendFormByMail" type="xs:boolean"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<!-- Complex and simple types -->
			<xs:complexType name="tResidenceAddress">
				<xs:sequence>
					<xs:element name="houseNumber" nillable="true" type="basic:tNumber5"/>
					<xs:element name="houseLetter" type="basic:tHouseLetter"/>
					<xs:element name="houseRemark" type="basic:tHouseRemark"/>
					<xs:element name="streetname" type="basic:tString80"/>
					<xs:element name="zipCode" type="basic:tZipCode"/>
					<xs:element name="city" type="basic:tString80"/>
					<xs:element name="locationDescription" type="basic:tString35"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tCorrespondenceAddress">
				<xs:sequence>
					<xs:element name="houseNumber" nillable="true" type="basic:tNumber5"/>
					<xs:element name="houseLetter" type="basic:tHouseLetter"/>
					<xs:element name="houseRemark" type="basic:tHouseRemark"/>
					<xs:element name="freePost" type="basic:tNumber9" minOccurs="0"/>
					<xs:element name="POBox" type="basic:tNumber9" minOccurs="0"/>
					<xs:element name="streetname" type="basic:tString80"/>
					<xs:element name="zipCode" type="basic:tZipCode"/>
					<xs:element name="city" type="basic:tString80"/>
					<xs:element name="locationDescription" type="basic:tString35"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tBsn">
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="authentic" type="xs:boolean" default="true" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="tCommercialRegistryNumber">
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="authentic" type="xs:boolean" default="true" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="tStatutoryName">
				<xs:restriction base="xs:string">
					<xs:maxLength value="500"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tBIC">
				<xs:restriction base="xs:string">
					<xs:maxLength value="11"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tHouseLetter">
				<xs:restriction base="xs:string">
					<xs:maxLength value="1"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tHouseRemark">
				<xs:restriction base="xs:string">
					<xs:maxLength value="4"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tZipCode">
				<xs:restriction base="xs:string">
					<xs:maxLength value="6"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tFirstNames">
				<xs:restriction base="xs:string">
					<xs:maxLength value="200"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tLastName">
				<xs:restriction base="xs:string">
					<xs:maxLength value="200"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tLastNamePrefix">
				<xs:restriction base="xs:string">
					<xs:maxLength value="10"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tNumber5">
				<xs:restriction base="xs:string">
					<xs:maxLength value="5"/>
					<xs:pattern value="[0-9]{0,5}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tNumber9">
				<xs:restriction base="xs:string">
					<xs:maxLength value="9"/>
					<xs:pattern value="[0-9]{0,9}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tEmail">
				<xs:restriction base="xs:string">
					<xs:maxLength value="254"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tString20">
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tString35">
				<xs:restriction base="xs:string">
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tString50">
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tString80">
				<xs:restriction base="xs:string">
					<xs:maxLength value="80"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tString200">
				<xs:restriction base="xs:string">
					<xs:maxLength value="200"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tTelephoneNumber">
				<xs:restriction base="xs:string">
					<xs:maxLength value="20"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tIBAN">
				<xs:restriction base="xs:string">
					<xs:maxLength value="34"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tIncompleteDate">
				<xs:restriction base="xs:string">
					<xs:minLength value="8"/>
					<xs:maxLength value="8"/>
					<xs:pattern value="[0-9]{8}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.emaxx.org/egov/common" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="tName">
				<xs:sequence>
					<xs:element name="initials" nillable="true" type="xs:string"/>
					<xs:element name="firstNames" nillable="true" type="xs:string"/>
					<xs:element name="middleName" nillable="true" type="xs:string"/>
					<xs:element name="lastName" nillable="true" type="xs:string"/>
					<xs:element minOccurs="0" name="nameOfAddress" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="tGender">
				<xs:restriction base="xs:string">
					<xs:maxLength value="1"/>
					<xs:enumeration value="M"/>
					<xs:enumeration value="V"/>
					<xs:enumeration value="F"/>
					<xs:enumeration value="O"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="tPartialDate">
				<xs:simpleContent>
					<xs:extension base="xs:date">
						<xs:attribute default="false" name="ignoreDay" type="xs:boolean" use="optional"/>
						<xs:attribute default="false" name="ignoreMonth" type="xs:boolean" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.emaxx.org/bpel/proces/xsd/faultproperties" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="faultDetails">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="source" nillable="true" type="xs:string"/>
						<xs:element name="code" nillable="true" type="xs:string"/>
						<xs:element name="message" nillable="true" type="xs:string"/>
						<xs:element name="stacktrace" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.emaxx.org/bpel/proces/xsd/headerproperties" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="requestProperties">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="user" nillable="true" type="xs:string"/>
						<xs:element name="password" nillable="true" type="xs:string"/>
						<xs:element name="domain" nillable="true" type="xs:string"/>
						<xs:element name="correlationId" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="responseProperties">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="correlationId" nillable="true" type="xs:string"/>
						<xs:element name="processId" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.emaxx.org/bpel/proces/xsd/emailparameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.emaxx.org/egov/common"/>
			<xs:element name="emailParameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="emailAddress" type="xs:string"/>
						<xs:element name="gender" nillable="true" type="egov:tGender"/>
						<xs:element name="name" type="egov:tName"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.emaxx.org/bpel/proces/xsd/processparameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:complexType name="tPayment">
				<xs:sequence>
					<xs:element name="initiatePayment" type="xs:boolean"/>
					<xs:element name="subscriptionDuration" nillable="true" type="xs:int"/>
					<xs:element name="paymentInfo">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="price" type="xs:string"/>
								<xs:element name="description" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="redirection" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="acceptUrl" type="xs:string"/>
								<xs:element name="declineUrl" type="xs:string"/>
								<xs:element name="exceptionUrl" type="xs:string"/>
								<xs:element name="cancelUrl" type="xs:string"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="processParameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="process" type="xs:string"/>
						<xs:element minOccurs="0" name="payment" type="processparameters:tPayment"/>
						<xs:element minOccurs="0" name="sendFormByMail" type="xs:boolean"/>
						<xs:element minOccurs="0" name="documents" type="xs:boolean"/>
						<xs:element minOccurs="0" name="numberOfDocuments" type="xs:int"/>
						<xs:element minOccurs="0" name="closeCase" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.emaxx.org/bpel/proces/xsd/caseparameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:simpleType name="tReferenceNumber">
				<xs:restriction base="xs:string">
					<xs:maxLength value="40"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tMimeType">
				<xs:restriction base="xs:string">
					<xs:maxLength value="50"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tFileName">
				<xs:restriction base="xs:string">
					<xs:maxLength value="150"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="tDocument">
				<xs:sequence>
					<xs:element name="fileName" type="caseparameters:tFileName"/>
					<xs:element name="fileMimeType" type="caseparameters:tMimeType"/>
					<xs:element name="fileData" type="xs:base64Binary"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="tClarification">
				<xs:restriction base="xs:string">
					<xs:maxLength value="992"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tDescription">
				<xs:restriction base="xs:string">
					<xs:maxLength value="80"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="tUrgencyLevel">
				<xs:restriction base="xs:string">
					<xs:maxLength value="2"/>
					<xs:pattern value="[0-9]{1,2}"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="tRegistrator">
				<xs:sequence>
					<xs:element name="employee" type="caseparameters:tId"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="tId">
				<xs:sequence>
					<xs:element name="id" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="caseParameters">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="referenceNumber" type="caseparameters:tReferenceNumber" minOccurs="0"/>
						<xs:element name="description" type="caseparameters:tDescription" minOccurs="0"/>
						<xs:element name="clarification" type="caseparameters:tClarification" minOccurs="0"/>
						<xs:element name="channel" type="xs:string"/>
						<xs:element name="urgencyLevel" type="caseparameters:tUrgencyLevel" minOccurs="0"/>
						<xs:element name="registrator" type="caseparameters:tRegistrator" minOccurs="0"/>
						<xs:element name="document" type="caseparameters:tDocument" minOccurs="0"/>
						<xs:element name="addStatus" type="xs:string" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="registerRequest">
		<wsdl:part name="parameters" element="basic:registerRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="registerResponse">
		<wsdl:part name="parameters" element="basic:registerResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="initiateRequest">
		<wsdl:part name="parameters" element="basic:initiateRequestMessage"/>
	</wsdl:message>
	<wsdl:message name="registerFault">
		<wsdl:part name="parameters" element="basic:error"/>
	</wsdl:message>
	<wsdl:message name="initiateResponse">
		<wsdl:part name="parameters" element="basic:initiateResponseMessage"/>
	</wsdl:message>
	<wsdl:message name="initiateFault">
		<wsdl:part name="parameters" element="basic:error"/>
	</wsdl:message>
	<wsdl:portType name="Basic">
		<wsdl:operation name="initiate">
			<wsdl:input message="client:initiateRequest"/>
			<wsdl:output message="client:initiateResponse"/>
			<wsdl:fault name="initiateFault" message="client:initiateFault"/>
		</wsdl:operation>
		<wsdl:operation name="register">
			<wsdl:input message="client:registerRequest"/>
			<wsdl:output message="client:registerResponse"/>
			<wsdl:fault name="registerFault" message="client:registerFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="client">
		<plnk:role name="clientRole" portType="client:Basic"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="common">
		<plnk:role name="commonRole" portType="com:CommonPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="securityManager">
		<plnk:role name="securityManagerRole" portType="secman:SecurityManagerPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="gegmagbasic">
		<plnk:role name="gegmagbasicRole" portType="gegmag:GegmagbasicPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="cases">
		<plnk:role name="casesRole" portType="cases:CasesPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="payments">
		<plnk:role name="paymentsRole" portType="payments:PaymentsPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="ogone">
		<plnk:role name="ogoneRole" portType="ogone:OgonePortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="subscriptions">
		<plnk:role name="subscriptionsRole" portType="sub:SubscriptionsPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="email">
		<plnk:role name="emailRole" portType="email:EmailPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="brpContext">
		<plnk:role name="brpContextRole" portType="brpcontext:BrpContextPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="documents">
		<plnk:role name="documentsProvider" portType="document:DocumentsPortType"/>
	</plnk:partnerLinkType>
	<vprop:property xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" name="correlationId" type="xsd:string"/>
	<vprop:propertyAlias xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" messageType="client:initiateRequest" part="parameters" propertyName="client:correlationId">
		<vprop:query>headerproperties:requestProperties/headerproperties:correlationId</vprop:query>
	</vprop:propertyAlias>
	<vprop:propertyAlias xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" messageType="client:registerRequest" part="parameters" propertyName="client:correlationId">
		<vprop:query>headerproperties:requestProperties/headerproperties:correlationId</vprop:query>
	</vprop:propertyAlias>
</wsdl:definitions>
