src/main/configurations/Openforms2bpel/Bpel/Basic/Initiate.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="initiateRequestMessage">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="requestProperties"/>
                <xs:element name="body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="applicant" type="tApplicant"/>
                            <xs:element name="process" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="initiateResponseMessage">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="responseProperties"/>
                <xs:element name="body">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="confirmationMessage" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="tApplicant">
        <xs:sequence>
            <xs:choice>
                <xs:element name="person">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="bsn" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="organization">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="commercialRegistryNumber" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="employee">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="username" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="requestProperties">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" nillable="true" type="xs:string"/>
                <xs:element name="password" nillable="true" type="xs:string"/>
                <xs:element name="domain" nillable="true" type="xs:string"/>
                <xs:element name="correlationId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="responseProperties">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="correlationId" nillable="true" type="xs:string"/>
                <xs:element name="processId" nillable="true" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
