src/main/resources/Zgw/Zaken/Model/ZgwRolNatuurlijkPersoon.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:zgw="http://google.com/zgw">
    <xs:import namespace="http://google.com/zgw" schemaLocation="../ZgwZakenApi.xsd" />
    <xs:element name="ZgwRol">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="url" type="zgw:Uri1_1000" minOccurs="0" />
                <xs:element name="uuid" type="xs:string" minOccurs="0" />
                <xs:element name="zaak" type="zgw:Uri1_1000" />
                <xs:element name="betrokkene" type="zgw:Uri0_1000" minOccurs="0" />
                <xs:element name="betrokkeneType" type="zgw:BetrokkeneType" />
                <xs:element name="roltype" type="zgw:Uri1_1000" />
                <xs:element name="omschrijving" type="zgw:AN_NonEmpty" minOccurs="0" />
                <xs:element name="omschrijvingGeneriek" type="zgw:AN_NonEmpty" minOccurs="0"/>
                <xs:element name="roltoelichting" type="zgw:AN1_1000" />
                <xs:element name="registratiedatum" type="xs:dateTime" />
                <xs:element name="indicatieMachtiging" type="zgw:IndicatieMachtiging" minOccurs="0"/>
                <xs:element name="betrokkeneIdentificatie" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="inpBsn" type="zgw:AN0_9" minOccurs="0"/>
                            <xs:element name="anpIdentificatie" type="zgw:AN0_17" minOccurs="0"/>
                            <xs:element name="inpA_nummer" type="zgw:AN0_10" minOccurs="0"/>
                            <xs:element name="voorletters" type="zgw:AN0_20" minOccurs="0"/>
                            <xs:element name="voornamen" type="zgw:AN0_200" minOccurs="0"/>
                            <xs:element name="geslachtsnaam" type="zgw:AN0_200" minOccurs="0"/>
                            <xs:element name="voorvoegselGeslachtsnaam" type="zgw:AN0_80" minOccurs="0"/>
                            <xs:element name="geslachtsaanduiding" type="zgw:Geslachtsaanduiding" minOccurs="0"/>
                            <xs:element name="geboortedatum" type="xs:date" minOccurs="0"/>
                            <xs:element name="verblijfsadres" minOccurs="0" nillable="true">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>                    
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 